
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    --cor-de-fundo: #161618;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-intivo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}


.Conteúdo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo.principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal  span{
    color: var(--verde);
}
.botão{
   font-family: "Chakra Petch', sans-serif";
   background-color: var(--botao-intivo);
   color: var(--branco);
   display: flex;
   justify-content: center;
   padding: 1em;
   font-size: 18px;
   align-items: center;
   width: 100%;
   border-bottom: 4px solid var(--botao-ativo);
   border-left: 2px solid var(--botao-ativo);
   border-right: 2px solid var(--botao-ativo); 
   border-top: none;
}
.botão:first-child{
    border-radius: 40px 40px 0 0;
}


.botões{
    display: block;
}

.botão.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}
.aba-conteudo.ativo{
    display: block;
}
.aba-conteudo{
    display: none;
}
.abaconteudo-titulo-secundario{
    font-size: 28px;
    text-align: center;
}
.aba-titulo-conteudo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}
.abas-textos{
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
@media screen and (min-width){
    .botões{
        display: flex;
    }
    .botão:first-child{
        border-radius: 40px 0 0 0;
    }
}
.botão:last-child{
    border-radius: 0 40px 0 0;
}
